In [ ]:
# example 1 for loop 1st part
total = 0
for i in range (1,11):
  total +=i
  print(total)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# example 1 for loop 2nd part
n = int(input("enter a number :"))
total = 0
for i in range (1,n+1):
  total +=i
  print(total)

enter a number :15
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120

In [ ]:
# example 2 of for loop
total = 0
num = input("enter a number :")
for i in range(0 , len(num)):
  total +=int(num[i])
  print(total)

enter a number :1324
1
4
6
10

In [ ]:
# example 3 of for loop
name = input("enter a name:")
temp = ""
for i in range(0,len(name)):
  if name[i] not in temp:
    print(f"{name[i]}:{name.count(name[i])}")
    temp += name[i]

enter a name:manan jungwal
m:1
a:3
n:3
 :1
j:1
u:1
g:1
w:1
l:1

In [ ]:
# break and continue
for i in range(1,11):
  if i ==3:
    break
  print(i)

for i in range(1,11):
  if i==7:
    continue
  print(i)

1
2
1
2
3
4
5
6
8
9
10

In [ ]:
# Exercise 6
winning_number = 43
guess = 1
num = int(input("enter a number between 1 and 100"))
game_over = False
while not game_over:
  if winning_number==num:
    print(f"you win , you guessed the number in {guess} times")
    game_over=True
  else:
    if num>winning_number:
      print("too high")
      guess += 1
      num=int(input("guess again :"))
    else:
      print("too low")
      guess += 1
      num=int(input("guess again :"))

enter a number between 1 and 10054
too high
guess again :39
too low
guess again :43
you win , you guessed the number in 3 times

In [ ]:
# Dry and Random number generator
import random
winning_number = random.randint2
(1,100)
guess = 1
num = int(input("enter a number between 1 and 100"))
game_over = False
while not game_over:
  if winning_number==num:
    print(f"you win , you guessed the number in {guess} times")
    game_over=True
  else:
    if num>winning_number:
      print("too high")
    else:
      print("too low")

    guess += 1  # Dry
    num=int(input("guess again :"))

enter a number between 1 and 10056
too high
guess again :46
too high
guess again :36
too high
guess again :26
too high
guess again :16
too high
guess again :6
too high
guess again :1
too low
guess again :2
too low
guess again :4
you win , you guessed the number in 9 times

In [ ]:
# Step Argument
for i in range(1,11,2): # 2 is my step argument here . will create gap of 2
  print(i)

for i in range(10,0,-1):
  print(i)

1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

In [ ]:
# For loop and string in python
number=(input("enter a number :")) #didnt convert to int here bcuz loop/slicing cant be done of number
total=0
for i in number:
  total+=int(i)
print(total)

enter a number :243
9

In [ ]:
# Functions
def add_two(num1,num2):
  return num1 + num2
total=add_two(10,5)
print(total)

15

In [ ]:
# Functions
def add_two(num1,num2):
  return num1 + num2
a=int(input("enter number"))
b=int(input("enter number "))
print(add_two(a,b))

enter number10
enter number 21
31

In [ ]:
# example 1 of functions
def last_char(name):
  return name[-1]
print(last_char("manan"))

# example 2
def odd_number(num):
  if num%2==0:
    return "even"
  else:
    return "odd"
print(odd_number(9))

# example 3
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
print(is_even(29)) 
# or
def is_even(num):
  return num%2==0
print(is_even(10))

# example 4
def song():
  return "happy bday"
print(song())

n
odd
False
True
happy bday

In [ ]:
# chapter 4 exercise 1
def greater(a,b):
  if a>b:
    return a
  else:
    return b
a=int(input("enter a number"))
b=int(input("enter a number"))
bigger=greater(a,b)
print(f"{bigger} is greater")

# if asked for 3 numbers a,b,c use if elif else and rest same

enter a number10
enter a number20
20 is greater

In [ ]:
# chapter 4 exercise 2
def is_paldrome(word):
  return word==word[::-1]
print(is_paldrome("manan"))
#or
def is_paldrome(word):
  reverse_name=word[::-1]
  if word==reverse_name:
    return True
  else:
    return False
print(is_paldrome("naman"))

False
True

In [ ]:
# default parameters
def user_info(first_name,last_name,age):
  print(f"your first name is {first_name}")
  print(f"your last name is {last_name} ")
  print(f"your age is {age}")
user_info("manan","jungwal",21)
#...
def user_info(first_name,last_name,age= 'Unknown'): #unknown is default parameter in this case
  print(f"your first name is {first_name}")
  print(f"your last name is {last_name} ")
  print(f"your age is {age}")
user_info("manan","jungwal")

'''
def user_info(first_name,last_name='unknown',age):      #default parameter cant be added in between or at start . only at end is acceptable
  print(f"your first name is {first_name}")
  print(f"your last name is {last_name} ")
  print(f"your age is {age}")
user_info("manan",21)
'''

your first name is manan
your last name is jungwal
your age is 21
your first name is manan
your last name is jungwal
your age is Unknown

'\ndef user_info(first_name,last_name=\'unknown\',age):\n  print(f"your first name is {first_name}")\n  print(f"your last name is {last_name} ")\n  print(f"your age is {age}")\nuser_info("manan",21)\n'

In [ ]:
# scope
x=5 #global variable

def func():
  global x
  x=7 #local variable
  return x
print(x)
print(func())
print(x)

5
7
7

In [ ]:
# intro to list
numbers=[1 , 2 , 3 , 4]
print(numbers)

words=["manan","jungwal","madhav",1,2,True] # can mix integer , string , boolean etc in list
print(words)

words=["manan","jungwal","madhav",1,2,True] 
print(words[1:3]) # slicing of list

words=["manan","jungwal","madhav",1,2,True] 
words[2]="manoj" #to change list
print(words)

[1, 2, 3, 4]
['manan', 'jungwal', 'madhav', 1, 2, True]
['jungwal', 'madhav']
['manan', 'jungwal', 'manoj', 1, 2, True]

In [ ]:
# add data to list
fruits=["apple" ,"mango"]
fruits.append("grapes") # append always end at last
print(fruits)

fruit=[]
fruit.append('mango')
fruit.append('grapes')
print(fruit)

['apple', 'mango', 'grapes']
['mango', 'grapes']

In [ ]:
# add data to list
fruit=["mango","grapes"]
fruit.insert(1,"orange") #insert using indexing
print(fruit)

fruit1=["mango","grapes"] 
fruit2=["banana","orange"]
fruit=fruit1 + fruit2 #joining 2 lists
print(fruit)

fruit1=["mango","grapes"] 
fruit2=["banana","orange"]
fruit1.extend(fruit2) #to join 1 into another
print(fruit1)

['mango', 'orange', 'grapes']
['mango', 'grapes', 'banana', 'orange']
['mango', 'grapes', 'banana', 'orange']

In [ ]:
# Deleting from list

fruit=["mango","grapes","pear","banana","orange"]
# fruit.pop() to remove last element , fruit.pop(x) to remove at x index
fruit.remove("banana") #if we want to remove and we dont know position use remove
print(fruit)

['mango', 'grapes', 'pear', 'orange']

In [ ]:
#checking if something is there in listor no
fruit=["mango","grapes","pear","banana","orange"]
if "apple" in fruit:
  print("true")
else:
  print("false")

false

In [ ]:
# count, sort , clear , reverse and copy in list
fruit=["mango","grapes","pear","banana","orange","mango"]
print(fruit.count("mango")) #count

fruit=["mango","grapes","pear","banana","orange","mango"]
fruit.sort() #sort alphabetical order
print(fruit)

fruit=["mango","grapes","pear","banana","orange","mango"]
fruit.clear() #empty list
print(fruit)

fruit=["mango","grapes","pear","banana","orange","mango"]
fruits1 = fruit.copy() #copying list
print(fruits1)

fruit=["mango","grapes","pear","banana","orange","mango"]
fruits1 = fruit[::-1] #reverse of list
print(fruits1)

2
['banana', 'grapes', 'mango', 'mango', 'orange', 'pear']
[]
['mango', 'grapes', 'pear', 'banana', 'orange', 'mango']
['mango', 'orange', 'banana', 'pear', 'grapes', 'mango']

In [ ]:
# is vs equal in list
fruit1=["mango","grapes","pear"]
fruit2=["mango","grapes","pear"]
print(fruit1==fruit2) #true cuz both are equal
print(fruit1 is fruit2) # fruit1 isnt fruit2 cuz both are saved in diff memory locations

True
False

In [ ]:
# Join and Split method

#join
user_info=["manan" ,"21"]
print(','.join(user_info))

#split
user_info='manan 21'.split()
print(user_info)
#or
user_info='manan , 21'.split(',')
print(user_info)

manan,21
['manan', '21']
['manan ', ' 21']

In [ ]:
# looping in list

# for loop
fruit=["mango","grapes","pear","banana","orange"]
for i in fruit:
  print(i)

# while loop
fruit=["mango","grapes","pear","banana","orange"]
i=0
while i<len(fruit):
  print(fruit[i])
  i+=1

mango
grapes
pear
banana
orange
mango
grapes
pear
banana
orange

In [ ]:
# list inside list and loop inside loop
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
print(matrix[1]) # to print list inside list
print(matrix[1][1]) # to print 5

matrix=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
  for i in sublist: #loop inside loop in list to print all elements of all the list
    print(i)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
5
1
2
3
4
5
6
7
8
9

In [ ]:
# generate list with range function
number=list(range(1,11))
print(number)

# something more abt pop method
number=list(range(1,11))
print(number.pop(5)) # will print and pop element at 5th index

# index method
number=list(range(1,11))
print(number.index(5)) #will tell the index position of 5

# how to make list negative
number=[1,2,3,4,5,6,7,8,9,10]
def negative_list(l):
  negative=[]
  for i in l:
    negative.append(-i)
  return negative
print(negative_list(number))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6
4
[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [1]:
# chapter 5 exercise 1
def square_list(l):
  square=[]
  for i in l:
    square.append(i**2)
  return square

numbers=list(range(1,11))
print(square_list(numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# chapter 5 exercise 2
def reverse_list(l):
  rlist=[]
  for i in range(len(l)):
    popped_item= l.pop()
    rlist.append(popped_item)
  return rlist

number=[1,2,3,4]
print(reverse_list(number))

[4, 3, 2, 1]

In [10]:
# chapter 5 exercise 3
def reverse_elements(l):
  relements=[]
  for i in l:
    relements.append(i[::-1])
  return relements

words=['abc','cde','xyz']
print(reverse_elements(words))

['cba', 'edc', 'zyx']

In [11]:
# chapter 5 exercise 4
def odd_even(l):
  odd=[]
  even=[]
  for i in l:
    if i%2==0:
      even.append(i)
    else:
      odd.append(i)
      output=[odd,even]
  return output

number=[1,2,3,4,5,6,7,8,9,10]
print(odd_even(number))

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [17]:
# chapter 5 exercise 5
def common_finder(l1,l2):
  rlist=[]
  for i in l1:
    if i in l2:
      rlist.append(i)
  return rlist
print(common_finder([1,2,4,3], [1,5,3,7]))

[1, 3]

In [19]:
#  max and min function
numbers=[6,60,2]
# print(max(numbers)) to print max
# print(min(numbers)) to print min
def max_min(l):
  return max(l)-min(l)
print(max_min(numbers))

58

In [24]:
# chapter 5 exercise 6
def sublist(l):
  count=0
  for i in l:
    if type(i)==list:
       count+=1
  return count
print(sublist([[1,2,3],[6,7,8],2,6,8]))

2

In [30]:
# Tupil 1st part

# for loop and tuple
mixed=(1,3,2,4)
for i in mixed:
  print(i)

# tuple with only 1 element
nums=(1,) # , is imp if creating 1 element tuple
type(nums)

1
3
2
4

tuple

In [37]:
# tuple 2nd part

# tuple without parenthesis
word='manan','madhav','manvi'
print(type(word)) # this is a tuple too

# tuple unpacking
mixed=('manan','madhav','manvi')
guitarist1,guitarist2,guitarist3=mixed
print(guitarist1)

# list inside tupil
mixed=(1,2,['abc','cde','xyz'])
mixed[2].append("mno") # u cant add in tupil but still can add if u make list inside tupil
print(mixed)

# min,max,sum in tupil
l=(2,5,8)
print(min(l))
print(max(l))
print(sum(l))

<class 'tuple'>
manan
(1, 2, ['abc', 'cde', 'xyz', 'mno'])
2
8
15

In [44]:
# function returning 2 values in python
def add_multiple(x,y):
  add=x+y
  multiply=x*y
  return add, multiply
print(add_multiple(2,3)) # will give answer in tupil

(5, 6)

In [50]:
# something more abt tuple,list,str
l=tuple(range(1,11))
print(l)

# can convert tupil into list and then to string and things like that
l=(1,2,3,4,5)
print(str(list(l)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5]

In [55]:
# dictionary

# how to create dictionary 1st method
user={'name':'manan','age':'23'}
print(user)

# 2nd method
mix=dict(name='manan',age='21')
print(mix)
print(mix['name']) # how to access data from dictionary

# how to add data in dict.
userinfo={}
userinfo['name']='manan'
print(userinfo)

{'name': 'manan', 'age': '23'}
{'name': 'manan', 'age': '21'}
manan
{'name': 'manan'}

In [63]:
# more abt dict

# check if key exist in dict
user={'name':'manan','age':'23'}
if 'name' in user:
  print("present")

# check if value in dict
user={'name':'manan','age':'23'}
if 'manan' in user.values():
  print("present")

# looping in dict
user={'name':'manan','age':'23'}
for i in user: #all keys wil get printed . to print all values type for i in user.values():
  print(i) 

# value method
user={'name':'manan','age':'23'}
user=user.values()
print(user)

# items method
user={'name':'manan','age':'23'}
user=user.items()
print(user)

#looping with items
user={'name':'manan','age':'23'}
for i,j in user.items():
  print(f"key is {i}, value is{j}")

present
present
name
age
dict_values(['manan', '23'])
dict_items([('name', 'manan'), ('age', '23')])
key is name, value ismanan
key is age, value is23

In [71]:
# how to add and delete data from dict. 1st part
user={'name':'manan','age':'23'}
user['lastname']='jungwal' #add
print(user)

user={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
x=user.pop('name') # to remove key value pair
print(x)
print(user)

{'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
manan
{'age': '23', 'lastname': 'jungwal'}

In [72]:
# 2nd part
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
y=r.popitem() # randomly removes key value pair
print(y)
print(r)

('lastname', 'jungwal')
{'name': 'manan', 'age': '23'}

In [73]:
# update dict. (to add 1 dict. into another)
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
user={'brother':'madhav','sister':'manvi'}
r.update(user)
print(r)

{'name': 'manan', 'age': '23', 'lastname': 'jungwal', 'brother': 'madhav', 'sister': 'manvi'}

In [79]:
#  fromkeys (used when same value is there for every key)
d= dict.fromkeys(['name','age'],'unknown')
print(d)

# get (to get particular value)
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
print(r.get('name'))

# clear ( to delete)
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
r.clear()
print(r)

# copy
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
r1=r.copy()
print(r1)

{'name': 'unknown', 'age': 'unknown'}
manan
{}
{'name': 'manan', 'age': '23', 'lastname': 'jungwal'}

In [82]:
# more abt get and if 2 same keys in a dict

r={'name': 'manan', 'age': '23', 'lastname': 'jungwal'}
print(r.get('brother','not found')) # to print a particular message if key isnt there in dict

#..
r={'name': 'manan', 'age': '23', 'lastname': 'jungwal','age':'33'} # when same key gets repeated , key at last in list gets preference
print(r)

not found
{'name': 'manan', 'age': '33', 'lastname': 'jungwal'}